@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@300&family=Parisienne&family=Sawarabi+Mincho&family=Signika+Negative&display=swap");
body {
  font-family: "Faustina", serif;
  background: linear-gradient(149deg, #2460a7ff 50%, white 50%);
  margin-top: 0%;
}
.heading {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 5px #000000;
  color: white;
}
.activity {
  background-color: #fff;
  border: 1px solid black;
  padding: 8px 12px 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}
.VoteStatus {
  color: red;
}
.Profile {
  text-align: center;
  font-size: 60px;
  margin: auto;
  color: #2460a7ff;
}
